@tailwind base;
@tailwind components;
@tailwind utilities;

.splash-screen {
  opacity: 1;
}

.splash-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes fadeInAndUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInAndUp 1s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

/* Make sure you also have the other animation keyframes you added earlier */